:root {
  --beige-100: #f9f5f0;
  --beige-150: #f7f3ec;
  --black: #000000;
  --blue-100: #f3f7f9;
  --blue-150: #f1f5f7;
  --blue-200: #3bbce3;
  --blue-300: #3d546f;
  --blue-400: #32425c;
  --blue-500: #293449;
  --blue-600: #1d2739;
  --blue-700: #161d29;
  --green-100: #8ed78f;
  --green-200: #5fbb2d;
  --green-300: #63a63e;
  --green-400: #518534;
  --green-500: #367315;
  --grey-100: #f1f1f1;
  --grey-150: #eaeaea;
  --grey-200: #e5e5e5;
  --grey-300: #c5c5c5;
  --grey-350: #b5b5b5;
  --grey-400: #a9a9a9;
  --lilac: #dc91d8;
  --opacity-black-015: rgba(0, 0, 0, 0.15);
  --opacity-white-03: rgba(255, 255, 255, 0.3);
  --opacity-white-05: rgba(255, 255, 255, 0.5);
  --opacity-grey-100-03: rgba(197, 197, 197, 0.3);
  --opacity-grey-200-03: rgba(169, 169, 169, 0.3);
  --red-100: #ee3643;
  --red-200: #ca2c37;
  --red-300: #ba2732;
  --white: #ffffff;
  --yellow-100: #ffd180;
  --yellow-200: #ffbf47;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  background-color: var(--red-100);
  border: none;
}

/* index.html */

.header-navbar-top {
  background-color: var(--blue-500);
}

.header-navbar-top-input {
  background-color: var(--blue-500);
  border: none;
  outline: none;
}

.header-navbar-top-input::placeholder {
  color: var(--white);
}

.header-navbar-top-input:focus {
  background-color: var(--white);
}

.header-navbar-top-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-top-link {
  color: inherit;
}

.header-navbar-top-link:active {
  color: var(--opacity-white-05);
  background-color: var(--blue-700);
}

.header-navbar-top-link-green {
  background-color: var(--green-300);
}

.header-navbar-top-link-green:hover {
  background-color: var(--green-200);
}

.header-navbar-top-link-green:active {
  background-color: var(--green-300);
}

.header-details {
  background-color: var(--blue-150);
}

.site-title {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--red-100);
}

.header-details-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red-100);
  border: 3px solid var(--white);
}

.header-details-address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--blue-400);
}

.header-details-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.header-details-button:hover {
  color: var(--red-100);
}

.header-details-button:active {
  color: var(--grey-300);
}

.header-navbar-bottom {
  background-color: var(--blue-400);
  box-shadow: inset 0px -5px 0px var(--blue-500);
}

.header-navbar-bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-bottom-link {
  color: inherit;
}

.header-navbar-bottom-link:hover {
  background-color: var(--blue-500);
}

.header-navbar-bottom-link:active {
  background-color: var(--blue-600);
  color: var(--white);
  opacity: 0.5;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--opacity-white-03);
  color: var(--white);
}

.promo-button:hover {
  background: var(--opacity-grey-100-03);
}

.promo-button:active {
  background: var(--opacity-grey-200-03);
}

.promo-item-materials {
  background-color: var(--yellow-200);
}

.promo-instruments {
  background-color: var(--blue-200);
}

.promo-item-technics {
  background-color: var(--lilac);
}

.promo-item-discounts {
  background-color: var(--green-100);
}

.promo-item-delivery {
  background-color: var(--yellow-200);
}

.promo-slide {
  background-color: var(--grey-400);
}

.promo-slider-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slide-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slide-text {
  margin: 0;
}

.promo-slide-button:hover {
  background-color: var(--red-200);
}

.promo-slide-button:active {
  background-color: var(--red-300);
}

.popular-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue-400);
  background-color: var(--beige-100);
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  background-color: var(--white);
  border: 1px solid var(--grey-150);
}

.product-item:hover {
  filter: drop-shadow(0px 4px 20px var(--opacity-black-015));
}

.product-item-title {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.product-button-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  background: var(--green-300);
  box-shadow: inset 0px -3px 0px var(--green-500);
  border-radius: 2px;
  border: none;
}

.product-button-buy:hover {
  background: var(--green-200);
}

.product-button-buy:active {
  background: var(--green-400);
}

.product-button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--blue-400);
  background-color: var(--white);
  border: 3px solid var(--green-300);
  border-radius: 2px;
}

.product-button-bookmark:hover {
  border: 3px solid var(--blue-400);
}

.product-button-bookmark:active {
  opacity: 0.5;
}

.price-old {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--grey-400);
}

.price-new {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--red-100);
}

.manufacturer-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue-400);
  background-color: var(--beige-100);
}

.manufacturer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-item {
  background-color: var(--white);
  border: 1px solid var(--grey-150);
}

.manufacturer-item:hover {
  filter: drop-shadow(0px 4px 20px var(--opacity-black-015));
}

.manufacturer-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px var(--opacity-black-015));
}

.services {
  background-color: var(--blue-150);
}

.services-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.services-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.services-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tab {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--blue-400);
}

.services-tab:hover {
  background-color: var(--blue-500);
}

.services-tab:active {
  color: var(--blue-400);
  background: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue-400);
}

.service-description {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.about-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.about-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.contacts-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.footer-navbar-top {
  background-color: var(--blue-400);
}

.footer-navbar-top-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navbar-top-link {
  color: var(--blue-150);
}

.footer-navbar-top-link:hover {
  text-decoration: underline;
}

.footer-navbar-top-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-navbar-bottom {
  background-color: var(--blue-400);
}

.footer-address {
  margin: 0;
  color: var(--blue-100);
}

.footer-phone {
  color: var(--blue-100);
}

.footer-navbar-bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navbar-bottom-link {
  color: var(--yellow-100);
}

.footer-navbar-bottom-link:hover {
  text-decoration: underline;
}

.footer-navbar-bottom-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-feedback {
  background-color: var(--blue-500);
}

.footer-copyright {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-feedback-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-link {
  color: var(--yellow-100);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active {
  text-decoration: none;
  color: var(--red-100);
}

.feedback-label {
  color: var(--black);
}

.feedback-input::placeholder {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-400);
}

/* catalog.html */

.header-details-link-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.header-details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-details-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--blue-400);
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.page-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue-400);
  background-color: var(--blue-150);
}

.filter-title {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--beige-150);
}

.form-block-title {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.price-block-range-wrapper {
  background-color: var(--beige-150);
}

.price-block-field {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--beige-150);
  border: none;
}

.price-block-dash {
  color: var(--black);
}

.manufacturer-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-block-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.energy-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.energy-block-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.pagination-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--grey-200);
}

.pagination-link-active {
  color: var(--white);
  background-color: var(--red-100);
}

.sorting {
  background-color: var(--beige-150);
}

.sorting-title {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  mix-blend-mode: normal;
  border-bottom: 1px dotted var(--red-100);
  opacity: 0.3;
}

.sorting-link:hover {
  border-bottom: 1px solid var(--red-100);
  opacity: 1;
}

.sorting-link:active {
  color: var(--red-100);
  border-bottom: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.perforator {
  background: var(--blue-150);
}

.perforator-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.perforator-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.modal-cart-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}

.modal {
  border-top: 7px solid var(--red-100);
}

.modal-button-wrapper {
  background-color: var(--grey-100);
}

.modal-cart-button {
  border: none;
}
