:root {
  --black: #000000;
  --black-op-015: rgba(0, 0, 0, 0.15);
  --basic-night-blue: #161d29;
  --basic-dark-slate-gray: #1d2739;
  --basic-slate-gray: #293449;
  --basic-blue-gray: #32425c;
  --basic-grey: #3d546f;
  --special-blue: #3bbce3;
  --special-dark-gray: #a9a9a9;
  --special-dark-gray-op-03: rgba(169, 169, 169, 0.3);
  --special-silver: #b5b5b5;
  --basic-greylight: #c5c5c5;
  --basic-greylight-op-03: rgba(197, 197, 197, 0.3);
  --special-gainsboro: #e5e5e5;
  --special-light-grey: #eaeaea;
  --basic-background: #f1f5f7;
  --error: #ba2732;
  --special-crimson: #ca2c37;
  --basic-red: #ee3643;
  --special-dark-olive-green: #518534;
  --special-forestgreen: #367315;
  --basic-green: #63a63e;
  --success: #5fbb2d;
  --special-greenlight: #8ed78f;
  --special-ylellow: #ffbf47;
  --special-yellowlight: #ffd180;
  --special-linen: #f7f3ec;
  --special-seashell: #f9f5f0;
  --special-whitesmoke: #f3f7f9;
  --special-whitegrey: #f1f1f1;
  --special-lilac: #dc91d8;
  --white: #ffffff;
  --white-op-05: rgba(255, 255, 255, 0.5);
  --white-op-03: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  background-color: var(--basic-red);
  border: none;
}

/* index.html */

.header-navbar-top {
  background-color: var(--basic-slate-gray);
}

.header-navbar-top-input {
  background-color: var(--basic-slate-gray);
  border: none;
  outline: none;
}

.header-navbar-top-input::placeholder {
  color: var(--white);
}

.header-navbar-top-input:focus {
  background-color: var(--white);
}

.header-navbar-top-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-top-link {
  color: inherit;
}

.header-navbar-top-link:active {
  color: var(--white-op-05);
  background-color: var(--basic-night-blue);
}

.header-navbar-top-link-green {
  background-color: var(--basic-green);
}

.header-navbar-top-link-green:hover {
  background-color: var(--success);
}

.header-navbar-top-link-green:active {
  background-color: var(--basic-green);
}

.header-details {
  background-color: var(--basic-background);
}

.site-title {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-details-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.header-details-address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-gray);
}

.header-details-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.header-details-button:hover {
  color: var(--basic-red);
}

.header-details-button:active {
  color: var(--basic-greylight);
}

.header-navbar-bottom {
  background-color: var(--basic-blue-gray);
  box-shadow: inset 0px -5px 0px var(--basic-slate-gray);
}

.header-navbar-bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-bottom-link {
  color: inherit;
}

.header-navbar-bottom-link:hover {
  background-color: var(--basic-slate-gray);
}

.header-navbar-bottom-link:active {
  background-color: var(--basic-dark-slate-gray);
  color: var(--white);
  opacity: 0.5;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--white-op-03);
  color: var(--white);
}

.promo-button:hover {
  background: var(--basic-greylight-op-03);
}

.promo-button:active {
  background: var(--special-dark-gray-op-03);
}

.promo-item-materials {
  background-color: var(--special-ylellow);
}

.promo-instruments {
  background-color: var(--special-blue);
}

.promo-item-technics {
  background-color: var(--special-lilac);
}

.promo-item-discounts {
  background-color: var(--special-greenlight);
}

.promo-item-delivery {
  background-color: var(--special-ylellow);
}

.promo-slide {
  background-color: var(--special-dark-gray);
}

.promo-slider-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slide-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slide-text {
  margin: 0;
}

.promo-slide-button:hover {
  background-color: var(--special-crimson);
}

.promo-slide-button:active {
  background-color: var(--error);
}

.popular-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-gray);
  background-color: var(--special-seashell);
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  background-color: var(--white);
  border: 1px solid var(--special-light-grey);
}

.product-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.product-item-title {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.product-button-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-forestgreen);
  border-radius: 2px;
  border: none;
}

.product-button-buy:hover {
  background: var(--success);
}

.product-button-buy:active {
  background: var(--special-dark-olive-green);
}

.product-button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue-gray);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.product-button-bookmark:hover {
  border: 3px solid var(--basic-blue-gray);
}

.product-button-bookmark:active {
  opacity: 0.5;
}

.price-old {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-dark-gray);
}

.price-new {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.manufacturer-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-gray);
  background-color: var(--special-seashell);
}

.manufacturer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-item {
  background-color: var(--white);
  border: 1px solid var(--special-light-grey);
}

.manufacturer-item:hover {
  filter: drop-shadow(0px 4px 20px var(--black-op-015));
}

.manufacturer-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px var(--black-op-015));
}

.services {
  background-color: var(--basic-background);
}

.services-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.services-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.services-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tab {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-blue-gray);
}

.services-tab:hover {
  background-color: var(--basic-slate-gray);
}

.services-tab:active {
  color: var(--basic-blue-gray);
  background: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-gray);
}

.service-description {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.about-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.about-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.contacts-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.footer-navbar-top {
  background-color: var(--basic-blue-gray);
}

.footer-navbar-top-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navbar-top-link {
  color: var(--basic-background);
}

.footer-navbar-top-link:hover {
  text-decoration: underline;
}

.footer-navbar-top-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-navbar-bottom {
  background-color: var(--basic-blue-gray);
}

.footer-address {
  margin: 0;
  color: var(--special-whitesmoke);
}

.footer-phone {
  color: var(--special-whitesmoke);
}

.footer-navbar-bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navbar-bottom-link {
  color: var(--special-yellowlight);
}

.footer-navbar-bottom-link:hover {
  text-decoration: underline;
}

.footer-navbar-bottom-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-feedback {
  background-color: var(--basic-slate-gray);
}

.footer-copyright {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-feedback-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-link {
  color: var(--special-yellowlight);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

.feedback-label {
  color: var(--black);
}

.feedback-input::placeholder {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-dark-gray);
}

/* catalog.html */

.header-details-link-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.header-details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-details-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-gray);
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.page-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-gray);
  background-color: var(--basic-background);
}

.filter-title {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--special-linen);
}

.form-block-title {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.price-block-range-wrapper {
  background-color: var(--special-linen);
}

.price-block-field {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--special-linen);
  border: none;
}

.price-block-dash {
  color: var(--black);
}

.manufacturer-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-block-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.energy-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.energy-block-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.pagination-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--special-gainsboro);
}

.pagination-link-active {
  color: var(--white);
  background-color: var(--basic-red);
}

.sorting {
  background-color: var(--special-linen);
}

.sorting-title {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  mix-blend-mode: normal;
  border-bottom: 1px dotted var(--basic-red);
  opacity: 0.3;
}

.sorting-link:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sorting-link:active {
  color: var(--basic-red);
  border-bottom: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.perforator {
  background: var(--basic-background);
}

.perforator-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.perforator-info {
  margin: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.modal-cart-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}

.modal {
  border-top: 7px solid var(--basic-red);
}

.modal-button-wrapper {
  background-color: var(--special-whitegrey);
}

.modal-cart-button {
  border: none;
}
